<nav class="sidebar close">
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">

                <li class="nav-link">
                    <i class='bx bx-chevrons-right toggle icon'></i>
                </li>

                <li class="nav-link tooltip">
                    <a href="#">
                        <i class='bx bxs-user icon'></i>
                        <span class="text nav-text">My Account</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bxs-widget icon'></i>
                        <span class="text nav-text">New Orders</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bxs-calendar icon'></i>
                        <span class="text nav-text">Calendar</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bxs-cart-alt icon'></i>
                        <span class="text nav-text">My Orders</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-stats icon'></i>
                        <span class="text nav-text">Reports</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bxl-steam icon'></i>
                        <span class="text nav-text">Vendors</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bxs-purchase-tag icon'></i>
                        <span class="text nav-text">Product</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bxs-group icon'></i>
                        <span class="text nav-text">Users</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class="bx bx-log-out icon"></i>
                        <span class="text nav-text">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="home">
    <div class="text">Main Content</div>
</section>