<div class="container">

    {{#each results}}

    <h4> About {{this.first_name}} {{this.last_name}}</h4>
    <p>Email id: {{this.email}}</p>
    <p>Contact number: {{this.contact}}</p>

    {{/each}}

</div>