<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page with Background Image Example</title>
    <link rel="stylesheet" href="./css/error.css">

</head>

<body>
    <div id="bg"></div>
    <div class="error-box">
        <div id="img-file"></div>
        <div class="btn"><a href="/">HomePage</a></div>
        
    </div>
</body>

</html>