{{>header_one}}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-2 p-1">
            <ul class="list-group list-group-light p-1">
                <a href="#" class="list-group-item d-flex justify-content-between align-items-center p-3">
                    Daily news
                    <span class="badge badge-primary rounded-pill">9</span>
                </a>
                <a href="#" class="list-group-item d-flex justify-content-between align-items-center p-3">
                    Education
                    <span class="badge badge-primary rounded-pill">10</span>
                </a>
                <a href="#" class="list-group-item d-flex justify-content-between align-items-center p-3">
                    Books
                    <span class="badge badge-primary rounded-pill">11</span>
                </a>
                <a href="#" class="list-group-item d-flex justify-content-between align-items-center p-3">
                    Health
                    <span class="badge badge-primary rounded-pill">8</span>
                </a>
                <a href="#" class="list-group-item d-flex justify-content-between align-items-center p-3">
                    Music
                    <span class="badge badge-primary rounded-pill">20</span>
                </a>
                <a href="#" class="list-group-item d-flex justify-content-between align-items-center p-3">
                    Movies
                    <span class="badge badge-primary rounded-pill">10</span>
                </a>
                <a href="#" class="list-group-item d-flex justify-content-between align-items-center p-3">
                    Science
                    <span class="badge badge-primary rounded-pill">15</span>
                </a>
            </ul>
        </div>

        <div class="col-md-8 p-2 d-flex ">
            <ul class="list-group list-group-light">

                <h5 class="mb-2">
                    Bookmarks   
                    <hr>                 
                </h5>

                <div class="card mb-3">
                    <div class="card-header bg-transparent ">
                        <div class="d-flex align-items-center">
                            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="User Image"
                                class="rounded-circle me-3" style="width: 50px; height: 50px;">
                            <div>
                                <h6 class="mb-0">name of the autor</h6>
                                <small class="text-muted">date of post</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, provident
                            nihil? Odit facilis officia amet adipisci autem et assumenda! A sed perspiciatis
                            expedita praesentium adipisci nesciunt, explicabo laborum nam cumque?</p>
                        </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                            possimus ab vitae qui natus suscipit. Debitis enim dignissimos corrupti sint tempora
                            fuga velit! In, delectus eum iusto ea distinctio doloribus.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nisi illo amet
                            commodi architecto, officiis natus suscipit aliquam quaerat nobis harum accusantium
                            eligendi! Vel corporis quia distinctio, adipisci dolores praesentium!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita obcaecati
                            accusamus delectus veniam autem, aspernatur quia iusto provident, quisquam neque,
                            tenetur natus reprehenderit. Deserunt a natus non, quo ad ex.</p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <button class="btn btn-outline-primary btn-sm me-2"><i class="fas fa-arrow-up"></i></button>
                        <span class="me-2">12</span>
                        <button class="btn btn-outline-primary btn-sm me-2"><i class="fas fa-arrow-down"></i></button>
                        <span class="me-2">5</span>
                        <button class="btn btn-outline-secondary btn-sm me-2"><i class="fas fa-comment"></i>
                            Comments</button>
                        <button class="btn btn-outline-secondary btn-sm me-2"><i class="fas fa-share"></i>
                            Share</button>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header bg-transparent ">
                        <div class="d-flex align-items-center">
                            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="User Image"
                                class="rounded-circle me-3" style="width: 50px; height: 50px;">
                            <div>
                                <h6 class="mb-0">name of the autor</h6>
                                <small class="text-muted">date of post</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, provident
                            nihil? Odit facilis officia amet adipisci autem et assumenda! A sed perspiciatis
                            expedita praesentium adipisci nesciunt, explicabo laborum nam cumque?</p>
                        </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                            possimus ab vitae qui natus suscipit. Debitis enim dignissimos corrupti sint tempora
                            fuga velit! In, delectus eum iusto ea distinctio doloribus.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nisi illo amet
                            commodi architecto, officiis natus suscipit aliquam quaerat nobis harum accusantium
                            eligendi! Vel corporis quia distinctio, adipisci dolores praesentium!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita obcaecati
                            accusamus delectus veniam autem, aspernatur quia iusto provident, quisquam neque,
                            tenetur natus reprehenderit. Deserunt a natus non, quo ad ex.</p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <button class="btn btn-outline-primary btn-sm me-2"><i class="fas fa-arrow-up"></i></button>
                        <span class="me-2">12</span>
                        <button class="btn btn-outline-primary btn-sm me-2"><i class="fas fa-arrow-down"></i></button>
                        <span class="me-2">4</span>
                        <button class="btn btn-outline-secondary btn-sm me-2"><i class="fas fa-comment"></i>
                            Comments</button>
                        <button class="btn btn-outline-secondary btn-sm me-2"><i class="fas fa-share"></i>
                            Share</button>
                    </div>

                </div>


            </ul>
        </div>
    </div>
</div>