{{#if alert}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}


<form class="row g-3 needs-validation" novalidate method="post">
    {{#each email}}
    <div class="form-floating mb-3">
        <label for="floatingInput">Email</label>
        <input type="email" name="email" value="{{this.email}}" class="form-control" id="floatingInput validationServer03"
            placeholder="name@example.com">
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    {{/each}}
    <div class="form-floating mb-3">
        <label for="floatingInput">Password</label>
        <input type="password" name="password" class="form-control" id="floatingInput validationServer01"
            placeholder="Password">
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="form-floating">
        <label for="floatingPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" class="form-control" id="floatingPassword validationServer02"
            placeholder="Password">
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-2 mt-5">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>