body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #F3F4F9;
}

.login-header{
    height: 14.8vh;
    background: transparent linear-gradient(180deg, #211F1F 0%, #3B3939 100%) 0% 0% no-repeat padding-box;
}

.login-header-img{
    width: 14.11vw;
    height: 6.66vh;
}

@media screen and (max-width:1100px) {
    .login-header-img{
        width: 30.11vw;
        height: 6.66vh;
    }
}
@media screen and (max-width:450px) {
    .login-header-img{
        width: 45.11vw;
        height: 6.66vh;
    }
}

.hr{
    width: 100vw;
    height: 1.85vh;
    background: #FE077C 0% 0% no-repeat padding-box;
}

.fp-outer-container{
    margin-top: 2.4vh;
    width: 37.65vw;
    height: 54.90vh;
}

.fp-container{
    width: 29.32vw;
    height: 40.09vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 14px #0000001A;
    border-radius: 1.85vh;
}

.fp-inner-container{
    width: 20.98vw;
    height: 25.27vh;
}

.fp-txt{
    /* width: 20.98vw;
    height: 4.44vh; */
    text-align: center;
    font: normal normal bold 2.25em Roboto;
    letter-spacing: 0px;
    color: #29292B;
}

.fp-small-txt{
    margin-top: 1.48vh;
    /* width: 20.98vw;
    height: 2.87vh; */
    text-align: center;
    font: normal normal normal 1.125em Roboto;
    letter-spacing: 0px;
    color: #2A2F4D;
}

#email{
    margin-top: 2.22vh;
    width: 20.93vw;
    height: 4.62vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #7D86A9;
    border-radius: 2.31vh;
}

.login-btn{
    margin-top: 3.44vh;
    width: 20.93vw;
    height: 5.18vh;
    background: #FE077C 0% 0% no-repeat padding-box;
    border: 0.5px solid #7D86A9;
    border-radius: 2.59vh;
}

.login-btn-txt{
    text-align: center;
    font: normal normal bold 1.0625em Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}

::placeholder{
    width: 40px;
    height: 21px;
    text-align: left;
    letter-spacing: 0px;
    padding-left: 1vw;
    color: #7D86A9;
}

@media screen and (max-width:1250px) {
    .fp-container{
        width: 60.32vw;
        height: 41.09vh;
    }
    .fp-inner-container {
        width: 53.98vw;
        height: 31.27vh;
    }
    .fp-txt {
        width: 53.98vw;
        height: 8.44vh;
    }
    .fp-small-txt {
        width: 50.98vw;
        height: 4.87vh;
    }
    #email {
        width: 53.93vw;
        height: 4.62vh;
    }
    .login-btn {
        width: 53.93vw;
    }
    
    
}

@media screen and (min-width:1250px) and (max-width:1350px) {
    .fp-inner-container {
        width: 20.98vw;
        height: 30.27vh;
    }
    /* .fp-txt {
        width: 20.98vw;
        height: 8.44vh;
    } */

    
}
@media screen and (min-width:650px) and (max-width:1250px){
    .fp-container {
        width: 53.32vw;
        height: 40.09vh;
    }
    .fp-inner-container {
        width: 42.98vw;
    }
    .fp-txt {
        width: 42.98vw;
        height: 5.44vh;
        
    }
    .fp-small-txt {
        width: 42.98vw;
        height: 3.87vh;
    }
    #email {
        width: 42.93vw;
    }
    .login-btn {
        width: 42.93vw;
    }
    .fp-outer-container {
        width: 72.65vw;
    }
}
@media screen and (max-width:650px) {
    .fp-outer-container{
        width: 72.65vw;
    }
    
}
